
.thumb{
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}

.encima {
    
    z-index: 20000;
    display: inline;
    position: absolute;
    left: 4%;
    right: 25%;
}

#images{
width: 40px;
height: 40px;
border-radius: 30px;
margin-right: 7px;

}

#btnCompartir{

  background: #ffffff;
    border-radius: 4px;
    color: #c21500;
    font-size: 20px;
    font-weight: 600;
    border:0px;
    height: 50px;

 -webkit-transition: background .55s ease;
-moz-transition: background .55s ease;
-ms-transition: background .55s ease;
-o-transition: background .55s ease;
transition: background .55s ease;


}

.btnluz:hover {
    box-shadow: 0px 0px 12px white;
}

.busqueda{
  color:#c21500;
  font-weight: 600; 
  text-align: center;
}

.compartir{
  color:#fff3bd;
  font-weight: 600; 
  text-align: center;
}


#btnsignOut{

	background: #ffffff;
    border-radius: 4px;
    color: #c21500;
    font-size: 20px;
    font-weight: 600;
    border:0px;
    height: 50px;

 -webkit-transition: background .55s ease;
-moz-transition: background .55s ease;
-ms-transition: background .55s ease;
-o-transition: background .55s ease;
transition: background .55s ease;
    
   }

 #btnsignOut:hover{
 	background: #c21500;
 	color:#ffffff; 

   }

  #btnCompartir:hover{
  background: #c21500;
  color:#ffffff; 

   }


.container-3{
  width: 100%; 
  height:auto;
  white-space: nowrap;
  position: relative;
  padding: 30px;
}
 
.container-3 input#buscarReceta{
  width:100%; 
  height:auto;
  background: #fff3bd;
  border: none;
  font-size: 20pt;
  font-weight: 600;
  float: left;
  color: #c8311f;
  padding-left: 45px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #c8311f;
}


.container-3 input#buscarReceta::-webkit-input-placeholder {
   color: #dd8277;
}
 
.container-3 input#buscarReceta:-moz-placeholder { /* Firefox 18- */
   color: #dd8277;  
}
 
.container-3 input#buscarReceta::-moz-placeholder {  /* Firefox 19+ */
   color: #dd8277;  
}
 
.container-3 input#buscarReceta:-ms-input-placeholder {  
   color: #dd8277;  
}

.container-3 .icon{
  position: absolute;
  top: 50%;
  margin-left: 14px;
  margin-top: 12px;
  z-index: 1;
  color: #c8311f;
 
   -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-3 input#buscarReceta:focus, .container-3 input#buscarReceta:active{
    outline:none; 
}
 
.container-3:hover .icon{
  margin-top: 10px;
  color: #c8311f;
 
  -webkit-transform:scale(1.5); /* Safari and Chrome */
  -moz-transform:scale(1.5); /* Firefox */
  -ms-transform:scale(1.5); /* IE 9 */
  -o-transform:scale(1.5); /* Opera */
   transform:scale(1.5);
  }

  #barraCategorias{
    top:-100px;
    position :relative;
    width: 100%;
    height: 200px;
    background-color: #fdbf00;

  }

  .categoria{
    margin:0px;
    margin-top:0px;
    width: 210px;
    height: 150px;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
    margin-left:12px;



  }









