<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://socialcookingweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>socialcookingweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>socialCookingWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$socialCookingWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SocialCookingEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=socialcooking1.database.windows.net;Initial Catalog=SocialCooking;Persist Security Info=True;User ID=administradores;Password=Socialcooking@5;Application Name=EntityFramework" Name="Data Source=socialcooking1.database.windows.net;Initial Catalog=SocialCooking;Persist Security Info=True;User ID=administradores;Password=Socialcooking@5;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Broker.SocialCookingEntities, Broker" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SocialCookingEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SocialCooking.csdl|res://*/SocialCooking.ssdl|res://*/SocialCooking.msl;provider=System.Data.SqlClient;provider connection string="Data Source=socialcooking1.database.windows.net;Initial Catalog=SocialCooking;Persist Security Info=True;User ID=administradores;Password=Socialcooking@5;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>